


/*FOOTER*/


.li.class{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-container{
    display: inline-block;
    align-items: baseline;
}
@media(min-width:768px){
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
    }
}


.footer-social-text{
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
margin-top: 72px;
margin-left: 96px ;
}
@media(min-width:768px){
    .footer-social-text{
        margin-top: 96px;
        text-align: left;

    }
}

.footer-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:center;
    margin-top: 72px;
    color: #FFFFFF;
    margin-bottom: 16px;
     }


.footer-list{
display: flex; 
justify-content: center;  
width: 208px;
height: 40px;
gap: 16px;
list-style-type: none;
margin-left: 40px;

}
@media(min-width:768px){
    .footer-list{
        padding-bottom: 144px;
    }
}
.footer-item{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 16px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),0px 1px 6px rgba(46, 47, 66, 0.08); 
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover,
.footer-item:focus{
 background-color: #31d0aa;
}

.color-team{
background-color: #FFFFFF;
}

.class-footer-one{
display: inline-block;
margin-bottom: 17.5px;
margin-left: 86px;
margin-right: 103px;
}

.background-foot{
    background-color: #2e2f42;
}
.paragraf-foot{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        text-align: left;
        max-width: 264px;
}

    .color-text-foot{
        color: #F4F4FD;
}

.footer-column{
   
    padding-bottom: 96px;
}

@media(min-width: 768px){
    .footer-column{
 
}
}
    .logotype-footer{
        font-family:'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase ;
        color: #4d5ae5;
        padding-top: 95px;
    }

      
      @media(min-width:768px){
        .footer-text{
            text-align: left;


        }
      }
      .form-footer{
        display: inline-block;
        gap:24px;
      }
      .footer-input{
        width: 288px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent; 
        font-size: 12px; 
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px; 
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
        border-radius: 4px;
        color: #ffffff; 
        }
      input::placeholder{
        color: #ffffff;
      }

      .footer-button{
        min-width: 165px;
        height: 40px; 
        justify-content: center;
        align-items: center;
        font-family:  "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px; 
        margin-left: 61px;
        margin-top: 16px;
    }
    @media(min-width:768px){
        .footer-button:{
      
        }
    }

    .footer-icon{
        margin-left: 16px; 
    }





    @media(min-width:1158px){
       
        .footer-container{
            display: flex;
            align-items: none;
        }
        .foot-div{
        
        }
        .footer-list{
         margin-left: 0;
        }
        
        .footer-social-text{
       margin-top: auto;
       margin-left: 0;
        margin-bottom: 16px;
        
        }
        .class-footer-one{
        display: inline-block;
        margin-bottom: 16px;
        }
  
          .footer-column{
            padding-top: 100px;
            padding-bottom: 100px;
        }
            .footer-change{
                margin-left: 80px;
            }
            .form-footer{
                display: flex;
                gap:24px;
              }
              .footer-input{
                width: 264px; 
                }
              
                .footer-button{
                min-width: 165px;
                display: flex;
                line-height: 1.5;
                letter-spacing: 0.04em;
                 border: none;
                 margin-top: 0;
                margin-left: 0;
            }
            .logotype-footer{
                ;
            }
        .paragraf-foot{
            ;
             }
  



/*FOOTER*/


/*.li.class{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.foot-div{
    margin-right: 120px;
}

.footer-social-text{
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;

}
.footer-list{
display: flex; 
justify-content: center;  
width: 208px;
height: 40px;
gap: 16px;
list-style-type: none;

}
.footer-item{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 16px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),0px 1px 6px rgba(46, 47, 66, 0.08); 
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover,
.footer-item:focus{
 background-color: #31d0aa;
}

.color-team{
background-color: #FFFFFF;
}

.class-footer-one{
display: inline-block;
margin-bottom: 16px;
}

.background-foot{
    background-color: #2e2f42;
}
.paragraf-foot{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        text-align: left;
        max-width: 264px;
}

    .color-text-foot{
        color: #F4F4FD;
}

.footer-column{
    padding-top: 100px;
    padding-bottom: 100px;
}

    .logotype-footer{
        font-family:'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase ;
        color: #4d5ae5
    }

    .footer-change{
        margin-left: 80px;
    }
    .footer-text{
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: left;
     color: #FFFFFF;
     margin-bottom: 16px;
      }
      .form-footer{
        display: flex;
        gap:24px;
      }
      .footer-input{
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent; 
        font-size: 12px; 
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px; 
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
        border-radius: 4px;
        color: #ffffff; 
        }
      input::placeholder{
        color: #ffffff;
      }

      .footer-button{
        min-width: 165px;
        height: 40px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:  "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px; 
    }

    .footer-icon{
        margin-left: 16px; 
    }*/